@model AplicativoSponsor.Models.Login

@{
    ViewBag.Title = "Login - SPONSOR";
    Layout = "~/Views/Shared/_LayoutSemNav.cshtml";
}


<link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="div-login">

        @using (Html.BeginForm("Logar", "Login"))
        {
            <img src="/Imagens/SPONSOR.png" id="logo-login"><br />
            <div class="form-group">
                <label for="email">Endereço de email</label>
                <input type="email" class="form-control" name="Email" id="email" aria-describedby="emailHelp" placeholder="Seu email" required>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="pass">Senha</label>
                <input type="password" class="form-control" name="Senha" id="pass" placeholder="Senha" required>
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div><br />
            <h6 style="color: darkred;">@Session["ErroLogin"]</h6>
            <input type="submit" class="btn" id="btn-login" value="Enviar">
            <br />
        }
        <h6 style="text-align:center;">Não possui conta conosco ? <a style="text-decoration: none; color: black;" href="/CadastroEmpresa/Cadastro_Empresa">Cadastre-se </a></h6>
    </div>
    <div class="col-md-4"></div>
</div>
